In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
t_login_test = pd.read_csv('../datas/t_login_test.csv')
t_login_test.head()

,log_id,timelong,device,log_from,ip,city,result,timestamp,type,id,is_scan,is_sec,time
0,1.955082e+16,7000.0,419819,2,1536093,238,1,1.436157e+09,3,5887,False,False,2015-07-06 12:23:45
1,9.716474e+15,16363.0,298355,1,715488,238,1,1.437054e+09,3,10909,False,False,2015-07-16 21:44:41
2,7.371385e+15,22379.0,298355,1,715488,238,1,1.437015e+09,3,10909,False,False,2015-07-16 10:46:41
3,9.642499e+13,27733.0,298355,1,646560,238,1,1.436795e+09,3,10909,False,False,2015-07-13 21:38:23
4,3.714001e+16,6242.0,747880,1,238942,238,1,1.437444e+09,1,151823,False,False,2015-07-21 10:02:49

In [2]:
t_trade_test = pd.read_csv('../datas/t_trade_test.csv')
t_trade_test.head()

   rowkey                   time      id
0      24  2015-07-01 00:04:41.0   98066
1      37  2015-07-01 00:12:45.0  151688
2      45  2015-07-01 00:15:12.0   86468
3      46  2015-07-01 00:15:24.0   86468
4      48  2015-07-01 00:15:58.0   82720

In [3]:
d = t_trade_test.head()

In [9]:
np.array(d).tolist()

[[24, '2015-07-01 00:04:41.0', 98066],
 [37, '2015-07-01 00:12:45.0', 151688],
 [45, '2015-07-01 00:15:12.0', 86468],
 [46, '2015-07-01 00:15:24.0', 86468],
 [48, '2015-07-01 00:15:58.0', 82720]]