In [1]:
# coding:utf-8

import pandas as pd
import numpy as np
import os,sys
from multiprocessing import Pool
import matplotlib.pyplot as plt

In [3]:
xgb100_val = pd.read_csv('../datas/xgb100_ytest_pred')
xgb100_val.head()

   is_risk  rowkey         y
0       -1  175932  0.705376
1       -1  140636  0.682025
2       -1   79383  0.681134
3       -1  139662  0.663992
4       -1   58317  0.659706

In [2]:
adboost80_val = pd.read_csv('../datas/adboost80_ytest_pred')
adboost80_val.head()

   is_risk  rowkey         y
0       -1  139680  0.521953
1       -1  101370  0.519673
2       -1   79369  0.518469
3       -1   63102  0.516524
4       -1  101360  0.516318

In [4]:
d1 = adboost80_val[adboost80_val['y']>=0.506910][['rowkey','is_risk','y']]
d2 = xgb100_val[xgb100_val['y']>=0.518935][['rowkey','is_risk','y']]

In [5]:
a = set(d1['rowkey'].values.tolist() + d2['rowkey'].values.tolist())

In [6]:
len(a),d1['rowkey'].shape[0],d2['rowkey'].shape[0]

(84, 39, 56)

In [8]:
xgb100_val['a'] = xgb100_val['rowkey'].map(lambda x:1 if x in a else 0)
xgb100_val.head(5)

   is_risk  rowkey         y  a
0       -1  175932  0.705376  1
1       -1  140636  0.682025  1
2       -1   79383  0.681134  1
3       -1  139662  0.663992  1
4       -1   58317  0.659706  1

In [9]:
xgb100_val = xgb100_val.sort_values('rowkey')
xgb100_val.head()

       is_risk  rowkey         y  a
12851       -1      24  0.074450  0
15022       -1      37  0.073050  0
11169       -1      45  0.074987  0
8544        -1      46  0.078866  0
10742       -1      48  0.075576  0

In [10]:
xgb100_val[['rowkey','a']].to_csv('../datas/a.csv',index=None,header=None)