In [1]:
# coding:utf-8

import pandas as pd
import numpy as np

In [2]:
login = pd.read_csv('../datas/t_login.csv')

In [15]:
t5[t5['timelong']<10].sort_values('id').reset_index(drop=True)

,log_id,timelong,device,log_from,ip,city,result,timestamp,type,id,is_scan,is_sec,time
0,3.347741e+16,4.0,103902,10,713606,253,1,1.430708e+09,1,75,True,False,2015-05-04 10:59:01
1,3.662388e+15,3.0,717853,10,713606,253,1,1.425878e+09,1,75,True,False,2015-03-09 13:09:00
2,9.117278e+15,5.0,993847,10,713606,253,1,1.429599e+09,1,75,True,False,2015-04-21 14:46:27
3,5.887254e+16,4.0,183218,10,713606,253,1,1.428132e+09,1,75,True,False,2015-04-04 15:17:43
4,6.629442e+15,4.0,615629,10,713606,253,1,1.426036e+09,1,75,True,False,2015-03-11 09:08:36
5,7.719252e+15,5.0,1073053,10,713606,253,1,1.427252e+09,1,75,True,False,2015-03-25 10:54:22
6,3.838801e+15,4.0,449213,10,713606,253,1,1.430018e+09,1,75,True,False,2015-04-26 11:06:39
7,1.749926e+16,4.0,87061,10,713606,253,1,1.427184e+09,1,75,True,False,2015-03-24 16:01:27
8,5.178582e+14,4.0,1073053,10,713606,253,1,1.427253e+09,1,75,True,False,2015-03-25 11:17:23
9,1.758903e+15,6.0,957784,10,713606,253,-4,1.425099e+09,1,75,True,False,2015-02-28 12:52:17
10,2.211287e+15,5.0,183218,10,713606,253,1,1.428131e+09,1,75,True,False,2015-04-04 15:08:14
11,7.226174e+15,8.0,43002,10,86367,90,1,1.424584e+09,1,94,True,False,2015-02-22 13:43:35
12,3.723972e+16,6.0,43002,10,86367,90,1,1.424585e+09,1,94,True,False,2015-02-22 14:01:43
13,6.275226e+15,3.0,71146,10,227575,90,1,1.434557e+09,1,94,True,False,2015-06-18 00:06:13
14,5.076700e+15,0.0,501967,2,355810,374,1,1.421841e+09,1,110,False,False,2015-01-21 19:43:52
15,2.339317e+16,4.0,911835,10,1506391,194,1,1.434090e+09,1,122,True,False,2015-06-12 14:20:23
16,8.481425e+15,3.0,374842,10,1506391,194,1,1.425972e+09,1,122,True,False,2015-03-10 15:19:42
17,7.899306e+15,6.0,578346,10,1506391,194,1,1.429257e+09,1,122,True,False,2015-04-17 15:56:45
18,4.675662e+14,4.0,911835,10,1506391,194,1,1.431140e+09,1,122,True,False,2015-05-09 11:01:17
19,6.977275e+15,4.0,224948,10,1506391,194,1,1.420271e+09,1,122,True,False,2015-01-03 15:44:51
20,9.292673e+14,4.0,911835,10,1506391,194,1,1.433126e+09,1,122,True,False,2015-06-01 10:38:48
21,2.201294e+16,5.0,224948,10,1506391,194,1,1.423366e+09,1,122,True,False,2015-02-08 11:24:18
22,8.873764e+15,3.0,911835,10,1506391,194,1,1.434090e+09,1,122,True,False,2015-06-12 14:20:23
23,2.915760e+14,4.0,374842,10,1506391,194,1,1.427010e+09,1,122,True,False,2015-03-22 15:32:10
24,3.047683e+14,7.0,475396,10,1355904,448,1,1.427771e+09,1,228,True,False,2015-03-31 11:01:07
25,1.348470e+16,8.0,475396,10,780436,448,1,1.427601e+09,1,228,True,False,2015-03-29 11:56:19
26,4.777310e+15,4.0,929820,10,1144643,44,1,1.434683e+09,1,253,True,False,2015-06-19 11:09:26
27,3.883598e+15,3.0,929820,10,209963,44,1,1.434008e+09,1,253,True,False,2015-06-11 15:26:56
28,9.467393e+15,4.0,736470,10,1338024,108,1,1.430708e+09,1,315,True,False,2015-05-04 10:56:03
29,2.311090e+16,3.0,29426,10,212304,108,1,1.430571e+09,1,315,True,False,2015-05-02 20:51:12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30651,5.181849e+16,4.0,959490,10,942071,384,1,1.433045e+09,1,175528,True,False,2015-05-31 12:04:35
30652,4.337897e+16,5.0,577849,10,132709,384,1,1.425049e+09,1,175528,True,False,2015-02-27 23:03:33
30653,9.300936e+14,0.0,139098,2,1401692,364,1,1.421578e+09,1,175554,False,False,2015-01-18 18:45:45
30654,3.837855e+15,0.0,139098,2,1401692,364,31,1.421578e+09,1,175554,False,False,2015-01-18 18:45:34
30655,2.759037e+16,5.0,62144,10,708854,364,1,1.430796e+09,1,175592,True,False,2015-05-05 11:14:41
30656,5.808834e+15,6.0,62144,10,1320965,364,1,1.430636e+09,1,175592,True,False,2015-05-03 14:53:25
30657,8.710923e+14,3.0,62144,10,1320965,364,1,1.430620e+09,1,175592,True,False,2015-05-03 10:30:09
30658,5.363872e+15,4.0,62144,10,708854,364,1,1.430709e+09,1,175592,True,False,2015-05-04 11:10:01
30659,1.733821e+15,5.0,62144,10,708854,364,1,1.430794e+09,1,175592,True,False,2015-05-05 10:51:39
30660,8.930210e+15,0.0,132466,2,942358,283,1,1.423435e+09,1,175716,False,False,2015-02-09 06:43:14
30661,5.402719e+15,0.0,644370,2,487166,456,1,1.420444e+09,1,175766,False,False,2015-01-05 15:52:00
30662,7.916140e+15,0.0,644370,2,1251236,456,1,1.421453e+09,1,175766,False,False,2015-01-17 08:00:11
30663,5.261777e+15,0.0,644370,2,28522,456,1,1.420738e+09,1,175766,False,False,2015-01-09 01:26:24
30664,5.844555e+15,0.0,644370,2,740884,456,1,1.420502e+09,1,175766,False,False,2015-01-06 07:54:47
30665,1.803617e+16,0.0,644370,2,16683,456,1,1.422591e+09,1,175766,False,False,2015-01-30 12:15:32
30666,2.896045e+15,0.0,644370,2,64575,456,1,1.423640e+09,1,175766,False,False,2015-02-11 15:34:21
30667,4.312834e+16,0.0,644370,2,755287,456,1,1.422256e+09,1,175766,False,False,2015-01-26 15:04:39
30668,9.521450e+15,0.0,644370,2,263817,456,1,1.421135e+09,1,175766,False,False,2015-01-13 15:38:45
30669,4.053796e+15,0.0,644370,2,170164,456,1,1.421912e+09,1,175766,False,False,2015-01-22 15:30:48
30670,3.697582e+16,0.0,644370,2,1491375,456,1,1.423181e+09,1,175766,False,False,2015-02-06 07:56:13
30671,2.241088e+15,0.0,644370,2,241505,456,1,1.421022e+09,1,175766,False,False,2015-01-12 08:17:17
30672,6.804393e+15,0.0,644370,2,1553963,456,1,1.420129e+09,1,175766,False,False,2015-01-02 00:21:50
30673,5.772320e+14,0.0,644370,2,1161329,456,1,1.420820e+09,1,175766,False,False,2015-01-10 00:07:02
30674,4.647468e+16,0.0,835072,2,1167626,217,31,1.421936e+09,1,175796,False,False,2015-01-22 22:16:40
30675,1.722465e+16,4.0,835072,10,451870,70,1,1.434641e+09,1,175798,True,False,2015-06-18 23:29:36
30676,7.622223e+14,4.0,609506,10,451870,70,1,1.434638e+09,1,175798,True,False,2015-06-18 22:27:58
30677,7.628862e+15,4.0,609506,10,451870,70,1,1.434638e+09,1,175798,True,False,2015-06-18 22:28:00
30678,7.627582e+15,0.0,91505,2,1103224,261,31,1.420990e+09,1,175847,False,False,2015-01-11 23:26:59
30679,8.750538e+15,0.0,91505,2,1103224,261,31,1.420990e+09,1,175847,False,False,2015-01-11 23:26:48
30680,7.201337e+15,6.0,916259,10,306690,108,1,1.421976e+09,1,175870,True,False,2015-01-23 09:19:31

In [13]:
t5 = login[(login['time']<'2015-07-01 13:00:29.0')]
#t5 = t5[(t5['time']>'2015-06-01 00:43:43.0')]
#t5 = t5[(t5['time']<'2015-06-23 00:43:43.0')]

t5[t5['id']==80306].sort_values('time').reset_index(drop=True)

,log_id,timelong,device,log_from,ip,city,result,timestamp,type,id,is_scan,is_sec,time
0,6.733529e+15,22678.0,362369,1,167389,276,1,1.427101e+09,1,80306,False,False,2015-03-23 17:03:06
1,3.220941e+15,8379.0,714919,1,1321812,459,1,1.427433e+09,1,80306,False,False,2015-03-27 13:03:11
2,8.485480e+15,11405.0,952411,1,981632,238,1,1.434771e+09,1,80306,False,False,2015-06-20 11:26:58
3,1.369983e+16,35492.0,845402,1,981632,238,1,1.434789e+09,1,80306,False,False,2015-06-20 16:38:06
4,6.885333e+15,291494.0,292549,1,1367983,238,1,1.435305e+09,1,80306,False,False,2015-06-26 15:52:53
5,3.395930e+16,6000.0,25749,2,1163773,238,1,1.435320e+09,1,80306,False,False,2015-06-26 20:00:58
6,8.842807e+15,6.0,832684,10,526422,396,1,1.435373e+09,1,80306,True,False,2015-06-27 10:41:06
7,4.657856e+15,6.0,832684,10,526422,396,1,1.435373e+09,1,80306,True,False,2015-06-27 10:41:12
8,8.939057e+15,6.0,832684,10,526422,396,1,1.435373e+09,1,80306,True,False,2015-06-27 10:41:16
9,5.844192e+15,4.0,832684,10,526422,396,1,1.435373e+09,1,80306,True,False,2015-06-27 10:41:20
10,2.330226e+15,5.0,832684,10,526422,396,1,1.435373e+09,1,80306,True,False,2015-06-27 10:41:22
11,4.329873e+15,5.0,832684,10,526422,396,1,1.435373e+09,1,80306,True,False,2015-06-27 10:41:34
12,9.814128e+15,5.0,832684,10,526422,396,1,1.435373e+09,1,80306,True,False,2015-06-27 10:41:34
13,5.021755e+15,6.0,832684,10,526422,396,1,1.435373e+09,1,80306,True,False,2015-06-27 10:41:34
14,3.535888e+16,4.0,832684,10,526422,396,1,1.435373e+09,1,80306,True,False,2015-06-27 10:41:35
15,4.980148e+14,6.0,832684,10,526422,396,1,1.435373e+09,1,80306,True,False,2015-06-27 10:41:36
16,7.448566e+14,6.0,832684,10,526422,396,1,1.435373e+09,1,80306,True,False,2015-06-27 10:41:41
17,7.069206e+14,6.0,832684,10,526422,396,1,1.435373e+09,1,80306,True,False,2015-06-27 10:41:44
18,9.316669e+15,6.0,832684,10,526422,396,1,1.435373e+09,1,80306,True,False,2015-06-27 10:41:47
19,1.423625e+16,7.0,832684,10,526422,396,1,1.435373e+09,1,80306,True,False,2015-06-27 10:41:55
20,7.528565e+15,5.0,832684,10,526422,396,1,1.435373e+09,1,80306,True,False,2015-06-27 10:41:55
21,9.575200e+15,5.0,832684,10,526422,396,1,1.435373e+09,1,80306,True,False,2015-06-27 10:41:56
22,6.536567e+15,6.0,832684,10,526422,396,1,1.435373e+09,1,80306,True,False,2015-06-27 10:41:59
23,3.550025e+16,5.0,835072,10,935192,238,1,1.435373e+09,1,80306,True,False,2015-06-27 10:43:16
24,8.720459e+14,6.0,720911,10,348305,364,1,1.435374e+09,1,80306,True,False,2015-06-27 11:03:04
25,6.081721e+15,15901.0,520060,1,526422,396,-2,1.435574e+09,1,80306,False,False,2015-06-29 18:35:36
26,7.129946e+15,38607.0,520060,1,1477993,358,-2,1.435583e+09,1,80306,False,False,2015-06-29 21:11:24
27,8.272999e+15,767313.0,520060,1,1477993,358,-2,1.435584e+09,1,80306,False,False,2015-06-29 21:27:35
28,2.030922e+16,32152.0,520060,1,1477993,358,-2,1.435585e+09,1,80306,False,False,2015-06-29 21:29:40

In [39]:
t5[t5['ip']==175103].sort_values('time').reset_index(drop=True)

,log_id,timelong,device,log_from,ip,city,result,timestamp,type,id,is_scan,is_sec,time
0,4.264209e+15,8598.0,234055,1,175103,430,1,1.435238e+09,1,111962,False,False,2015-06-25 21:19:53

In [44]:
t5[t5['device']==41327].sort_values('time').reset_index(drop=True)

,log_id,timelong,device,log_from,ip,city,result,timestamp,type,id,is_scan,is_sec,time
0,1.526866e+15,17500.0,41327,1,837294,430,1,1.435299e+09,1,101566,False,False,2015-06-26 14:06:17
1,7.675945e+15,10379.0,41327,1,309044,430,1,1.435383e+09,1,101566,False,False,2015-06-27 13:36:34
2,1.873524e+15,9963.0,41327,1,616323,58,1,1.435647e+09,3,137854,False,False,2015-06-30 14:44:35
3,3.059566e+16,8145.0,41327,1,616323,58,31,1.435657e+09,3,137854,False,False,2015-06-30 17:32:41

In [17]:
t5[t5['device']==88].index

Int64Index([], dtype='int64')